deployUser=hadoop
SSH_PORT=22
SERVER_HEAP_SIZE="512M"
STREAMIS_PORT={{ STREAMIS_SERVER_PORT }}
STREAMIS_INSTALL_HOME={{ STREAMIS_HOME }}
EUREKA_INSTALL_IP={{ ansible_ssh_host }}
EUREKA_PORT={{ LINKIS_EUREKA_PORT }}
GATEWAY_INSTALL_IP={{ ansible_ssh_host }}
GATEWAY_PORT={{ LINKIS_GATEWAY_PORT }}
STREAMIS_SERVER_INSTALL_IP=0.0.0.0
STREAMIS_SERVER_INSTALL_PORT={{ STREAMIS_SERVER_PORT }}
STREAMIS_VERSION={{ STREAMIS_VERSION }}
STREAMIS_FILE_NAME="STREAMIS-$STREAMIS_VERSION"
