    location /dolphinscheduler {
        proxy_pass http://127.0.0.1:12345;#后端dolphinscheduler服务的地址
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection upgrade;
    }
