[mysqld]
basedir = {{ MYSQL_HOME }}
datadir = {{ MYSQL_DATA }}
port = 3306
socket = {{ MYSQL_DATA }}/mysql.sock
pid-file = {{ MYSQL_DATA }}/mysql.pid
 
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
 
max_connections = 2000
character-set-server = utf8
default-storage-engine = INNODB
 
[mysql]
# 客户端默认字符集
default-character-set = utf8
 
[client]
port = 3306
socket = {{ MYSQL_DATA }}/mysql.sock
