LINKIS_GATEWAY_HOST={{ ansible_ssh_host }}
LINKIS_GATEWAY_PORT={{ LINKIS_GATEWAY_PORT }}
EXCHANGIS_PORT={{ EXCHANGIS_SERVER_PORT }}
EUREKA_URL=http://{{ ansible_ssh_host }}:{{ LINKIS_EUREKA_PORT }}/eureka/
